

.colorTest{
    font-family: 'shlop rg', Arial, sans-serif;
    font-size: 40px;
  color: white; /* Forzar heredar el color de letra del elemento padre */
}

@font-face {
    font-family: 'shlop rg';
    src: url('C:\Users\USUARIO\OneDrive\Desktop\RICK AND MORTY\rick_and_morty\src\Fonts\shlop rg.ttf') format('woff2'),
         url('C:\Users\USUARIO\OneDrive\Desktop\RICK AND MORTY\rick_and_morty\src\Fonts\shlop rg.ttf') format('woff');
}

  