.card{
  border: 8px solid rgba(0, 0, 0, 0.877);
  width: 16%;
  background-color: rgba(0, 176, 200, 3.032);
  border-radius: 10%;
  color: green;
  border-style: double;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  
}
.card:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
img{
  padding: 0px;
  margin: -1px;
  height: 181px;
  width: 187px;
  border-radius: 12%;

}
h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration-color: none;
  color: white;
  background-color: #333
}
h3{
  max-width: 100%;
    font-size: 90%;
}
.container-card {
  max-width: 100%;
    display: flex;
    background-color: gray;
    display: flex;
    padding: 4px;
    align-items: center;
    height: 18px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 16px;
    color: white;
    

  }
  
  .box {
    flex: 1 1;
    padding: 5px;
    margin-right: 24px;
    border-radius: 15%;
  }
  
.button-close{
  background-color: #f44336;
  padding: 0px 5px;
  margin: 0.29%;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  position: absolute;
}
.button-close:hover{
  color: black;
}
a {
  text-decoration: none; /* Quitar subrayado y coloreado azul del enlace */
  text-decoration-color: none
}

.no-link-color {
  text-decoration-color: none;
}


 
  