.cards_container {
  display: flex;
  padding: 21px;
  border: 2px solid rgba(255, 255, 255, 0.123);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;

}
